##Exercise 9

In [ ]:
tup=((1,2,3,4,5), (6,7,8,9,10), (11,12,13,14,15))
tup2=()
for a, b, *rest in tup:
  tup2 = tup2 + tuple(rest)
print(tup2)

(3, 4, 5, 8, 9, 10, 13, 14, 15)

##Exercise 18

In [ ]:
list1 = [5, "D", 2, "C", 4]
list2 = [3, "A", 1, "B", 6]
list1.extend(list2)
list_int=[]
list_str=[]
for i in list1:
  if (type(i)==int):
    list_int.append(i)
  elif (type(i)==str):
    list_str.append(i)
list_int.sort()
list_str.sort()
print(list_str)
print(list_int)

['A', 'B', 'C', 'D']
[1, 2, 3, 4, 5, 6]

##Exercise 22

In [ ]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum1 = sum(seq[1:][::2]) #2,4,6,8,10
print(sum1)
sum2 = sum(seq[::2]) #1,3,5,7,9
print(sum2)

30
25

##Exercise 25

In [ ]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_even_index = 0
sum_odd_index = 0
for i,v in enumerate(seq):
  if i % 2 == 0:
    sum_even_index += v
  else:
    sum_odd_index += v
print(sum_even_index, sum_odd_index)

25 30

##Exercise 27

In [ ]:
studentIds = [1, 2, 3, 4, 5, 6]
quiz1 = [80, 30, 35, 90, 60, 80]
quiz2 = [70, 20, 95, 80, 75, 20]
whole_data = list(zip(studentIds, quiz1, quiz2))
for id, g1, g2 in whole_data:
  if((g1 >=60) & (g2 >= 60)):
    print(f"Student with ID { str(id) } passed both quizzes")

Student with ID 1 passed both quizzes
Student with ID 4 passed both quizzes
Student with ID 5 passed both quizzes

##Exercise 32

In [ ]:
studentIds = [1, 2, 3, 4, 5, 6]
quiz1 = [80, 30, 35, 90, 60, 80]
quiz2 = [70, 20, 95, 80, 75, 20]
whole_data = list(zip(studentIds, quiz1, quiz2))
studentGrades = {}
for id, g1, g2 in whole_data:
  studentGrades[id] = {"quiz1": g1, "quiz2": g2}
studentGrades

{1: {'quiz1': 80, 'quiz2': 70},
 2: {'quiz1': 30, 'quiz2': 20},
 3: {'quiz1': 35, 'quiz2': 95},
 4: {'quiz1': 90, 'quiz2': 80},
 5: {'quiz1': 60, 'quiz2': 75},
 6: {'quiz1': 80, 'quiz2': 20}}

##Exercise 37

In [ ]:
midterm1 = [30, 60, 80]
midterm2 = [80, 95, 85]
[ (s1 + midterm2[i])/2 for i, s1 in enumerate(midterm1)]

[55.0, 77.5, 82.5]