In [ ]:
print('Hello world!')

Hello world!

Hello world!

In [ ]:
for x in array:
  if x<pivot:
    less.append(x)
  else:
    greater.append(x)

In [ ]:
a=5; b=6; c=7

In [ ]:
age = 29
name = 'Fred'
alive = True 
gpa = 3.99

age = 36

In [ ]:
age = 36
myage = age

In [ ]:
numberofmales = 15
numberoffemales = 14
numberofpeople = numberofmales + numberoffemales

In [ ]:
myage=37
myage = myage + 1

In [ ]:
typeofTen = type(10)
print (typeofTen)

<class 'int'>

In [ ]:
age=18
typeofAge = type(age)
print(typeofAge)

<class 'int'>

In [ ]:
age = 18
print (type (age))

<class 'int'>

In [ ]:
Dollars = input ("How much many do you have?")
Dollars = int (nDollars)

thePrice = input ("What is the price of the shirt?")
thePrice = float(thePrice)

myAge = 37
myAge = str (myAge)
aprice = 150.75
aPrice = str(aPrice)

KeyboardInterrupt: ignored

In [ ]:
firstString = 'Hot'
secondString = "Coffee"
concatenatedstring = firstString + secondString
print ('The result of concatenation is:', concatenatedstring)

The result of concatenation is: HotCoffee

In [ ]:
def getGroceries ():
  print ('milk')
  print ('flour')
  print ('sugar')
  print ('butter')
  print () #blank line

getGroceries ()
getGroceries ()

milko
flour
sugar
butter

milko
flour
sugar
butter

In [ ]:
# This function just prints a line of asterisks followed by a blank line
def separateRuns():
  print('********************')
  print()#blank line

def getGroceries (item1): # uses one parameter variable
  print (item1) # prints the contents of the item variable
  print ('flour')
  print ('sugar')
  print ('butter')
  print () #blank line
  separateRuns()
getGroceries('eggs')
getGroceries('beer')
getGroceries('apples')

eggs
flour
sugar
butter

********************

beer
flour
sugar
butter

********************

apples
flour
sugar
butter

********************

In [ ]:
def addTwo(startingValue):
  endingValue = startingValue + 2
  print ('The sum of', startingValue, 'and 2 is:', endingValue)
# Call the function twice with different arguments
addTwo(5)
addTwo(10)

The sum of 5 and 2 is: 7
The sum of 10 and 2 is: 12

In [ ]:
def addTwo (startingValue) :
  endingValue= startingValue + 2
  return endingValue # returns a result to the caller

sum1 = addTwo (5)
sum2 = addTwo (10)
print ('The results of adding 2 to 5 and 2 to 10 are:', sum1, 'and', sum2)

The results of adding 2 to 5 and 2 to 10 are: 7 and 12

In [ ]:
if courseCode == '210':
  teachingPython = True
  print ('Pay attention to the syllabus' )
  totalModules = 12

NameError: ignored

In [ ]:
answerToQuestion = input ("What comes after 4?")
if answerToQuestion == 5:
  print ('You got it')
  print ('You are a genius')
else:
  print ('Nope')
  print ('Time to go back to kindergarden')

What comes after 4?4
Nope
Time to go back to kindergarden

In [ ]:
def whatToWear (temperature):
  if temperature > 90:
      clothes = 'swim suit'
  elif temperature > 70:
      clothes = 'shorts'
  elif temperature > 50:
      clothes = 'long pants'
  else:
      clothes = 'thermal underwear and long pants'
  return 'Put on ' + clothes
print (whatToWear(100))
print (whatToWear(40))
print (whatToWear(71))

Put on swim suit
Put on thermal underwear and long pants
Put on shorts

In [ ]:
#Convert a number score to a letter grade:
def letterGrade(score):
  if score >= 90:
    letter = 'A'
  elif score >= 80:
    letter = 'B'
  elif score >= 70:
    letter = 'C'
  elif score >= 60:
    letter = 'D'
  else:
    letter = 'F' #fall through or default case
  return letter
grade1 = letterGrade(75)
print (grade1)
grade2 = letterGrade(82)
print (grade2)
print (letterGrade(95)) #call and print in one statement

C
B
A

In [ ]:
someList = [] # set a list variable to the empty list
print (someList)

[]

In [ ]:
numbersList = [20, -34, 486, 3129]
numbersList[0l # would evaluate to 20
numbersList[1] # would evaluate to -34
numbersList[2] # would evaluate to 486
numbersList[3] # would evaluate to 3129

In [ ]:
a = [1, 2, 3]
b=a
a.append(4)
print (b)

[1, 2, 3, 4]

In [ ]:
def append_element (some_list, element):
  some_list.append(element)
data = [1, 2, 3]
append_element (data, 4)
print(data)

[1, 2, 3, 4]

In [ ]:
a = [1, 2, 3]
b = a
c = list(a)
print(a is b)
print(a is not c)

True
True

In [ ]:
shoppingList = ['apples', 'bananas', 'cherries', 'dates', 'eggplant' ]
for anItem in shoppingList:
  print (anItem)

apples
bananas
cherries
dates
eggplant

In [ ]:
total = 0
for value in sequence:
  if value is None:
    continue
  total += value

In [ ]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
  if value == 5:
    break
  total_until_5 += value

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)
print(dt.date())
print(dt.time())

dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
print(type(delta))

29
30
2011-10-29
20:30:21
17 days, 1:59:39
<class 'datetime.timedelta'>