# Module 2 Lab Assignment 

In this lab assignment, you will work on the following dataset:

The following list contains the Id numbers of students. There are in total 10 students.

studentIds = [1,2,3,4,5,6,7,8,9,10]

There is also data about students' visits to tutorial pages in three different models. There is a one-to-one correspondence between the student id numbers and their visits to tutorial pages. For example, the student whose id is 1, visited 32, 50, 37 times the tutorials in module 1, 2, and 3, respectively.

tutorialModule1 = [32, 26, 30, 55, 39, 12, 26, 21, 22, 19]
tutorialModule2 = [50, 10, 50, 25, 30, 25, 12, 33, 54, 11]
tutorialModule3 = [37, 14, 30, 55, 38, 21, 22, 15, 42, 22]

In [ ]:
import numpy as np

## Task 1

The first task is to convert this dataset into a dictionary. 

```
{1: {'tutorialModule1': 32, 'tutorialModule2': 50, 'tutorialModule3': 37},
 2: {'tutorialModule1': 26, 'tutorialModule2': 10, 'tutorialModule3': 14},
 3: {'tutorialModule1': 30, 'tutorialModule2': 50, 'tutorialModule3': 30},
 4: {'tutorialModule1': 55, 'tutorialModule2': 25, 'tutorialModule3': 55},
 5: {'tutorialModule1': 39, 'tutorialModule2': 30, 'tutorialModule3': 38},
 6: {'tutorialModule1': 12, 'tutorialModule2': 25, 'tutorialModule3': 21},
 7: {'tutorialModule1': 26, 'tutorialModule2': 12, 'tutorialModule3': 22},
 8: {'tutorialModule1': 21, 'tutorialModule2': 33, 'tutorialModule3': 15},
 9: {'tutorialModule1': 22, 'tutorialModule2': 54, 'tutorialModule3': 42},
 10: {'tutorialModule1': 19, 'tutorialModule2': 11, 'tutorialModule3': 22}}
```

In [ ]:
studentIds = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
tutorialModule1 = [32, 26, 30, 55, 39, 12, 26, 21, 22, 19]
tutorialModule2 = [50, 10, 50, 25, 30, 25, 12, 33, 54, 11]
tutorialModule3 = [37, 14, 30, 55, 38, 21, 22, 15, 42, 22]

In [ ]:
allData = list(zip(studentIds,tutorialModule1,tutorialModule2,tutorialModule3))
allData

[(1, 32, 50, 37),
 (2, 26, 10, 14),
 (3, 30, 50, 30),
 (4, 55, 25, 55),
 (5, 39, 30, 38),
 (6, 12, 25, 21),
 (7, 26, 12, 22),
 (8, 21, 33, 15),
 (9, 22, 54, 42),
 (10, 19, 11, 22)]

In [ ]:
myDict = {a: {'tutorialModule1': b, 'tutorialModule2':b, 'tutorialModule3':d} for a,b,c,d in allData}
myDict

{1: {'tutorialModule1': 32, 'tutorialModule2': 32, 'tutorialModule3': 37},
 2: {'tutorialModule1': 26, 'tutorialModule2': 26, 'tutorialModule3': 14},
 3: {'tutorialModule1': 30, 'tutorialModule2': 30, 'tutorialModule3': 30},
 4: {'tutorialModule1': 55, 'tutorialModule2': 55, 'tutorialModule3': 55},
 5: {'tutorialModule1': 39, 'tutorialModule2': 39, 'tutorialModule3': 38},
 6: {'tutorialModule1': 12, 'tutorialModule2': 12, 'tutorialModule3': 21},
 7: {'tutorialModule1': 26, 'tutorialModule2': 26, 'tutorialModule3': 22},
 8: {'tutorialModule1': 21, 'tutorialModule2': 21, 'tutorialModule3': 15},
 9: {'tutorialModule1': 22, 'tutorialModule2': 22, 'tutorialModule3': 42},
 10: {'tutorialModule1': 19, 'tutorialModule2': 19, 'tutorialModule3': 22}}

## Task 2

The second task is to find the students whose visits are above the overall average of the whole class. 

Let's assume that the overall average is 50 (*this is just a random number I chose to give you an example*). 

Then, your task is to identify the students who visited module 1, 2, and 3 tutorial pages more than 50 times. 

Overall average should be computed considering all visits (across all modules) by all students.

Your code should produce the following student id numbers:

[1, 3, 5]

In [ ]:
allVisits = tutorialModule1 + tutorialModule2 + tutorialModule3
average = sum(allVisits) / len(allVisits)
average

29.266666666666666

In [ ]:
[a for a,b,c,d in list(zip(studentIds, tutorialModule1, tutorialModule2, tutorialModule3)) if((b>average) & (c>average) & (d>average))]

[1, 3, 5]