# Module 4 Lab Assignment

This assignment contains 12 tasks, with varying points depending on the difficulty level. When working on the tasks you MUST use the concepts covered in Module 4 Lecture. Solutions with loops and list comprehensions are NOT accepted.

If you have any questions please post them on Slack timely. Help-seeking (and giving) is highly encouraged in this course.

Please starting to work on the tasks, please import `numpy` and pandas libraries.

In [ ]:
import numpy as np
import pandas as pd

## Generating Dataset 

Our dataset will be page view dataset where column represents the days (DAY 1 to DAY 5), and the row represents the students who visits the pages.

#### TASK 1 [+4]. 
Generate a random array (*named* `data`) with values ranging between 0-1000. The array should have 10 rows and 5 columns. 

**Use the seed of 10** so that it will always generate the same set of random numbers.

In [ ]:
np.random.seed(10)
data = np.random.randint(1000, size=(10,5))
data

array([[265, 125, 996, 527, 320],
       [369, 123, 156, 985, 733],
       [496, 925, 881,   8,  73],
       [256, 490,  40, 502, 420],
       [371, 528, 356, 239, 395],
       [ 54, 344, 363, 122, 574],
       [545, 200, 868, 974, 689],
       [691,  54,  77, 453,  13],
       [755, 409, 382, 653, 860],
       [342, 798, 670,  89, 652]])

Create a list (or array), named `students`, that contain the following values in the exact order: 
`'C', 'H','A', 'D', 'E', 'J', 'G', 'I', 'B', 'F'`

In [ ]:
students = np.array(['C', 'H','A', 'D', 'E', 'J', 'G', 'I', 'B', 'F'])
students

array(['C', 'H', 'A', 'D', 'E', 'J', 'G', 'I', 'B', 'F'], dtype='<U1')

Create a new dataframe, which has the `data` as the data source, `students` as the index, and `['Day3', 'Day1', 'Day2', 'Day5', 'Day4']` as the columns.

In [ ]:
visitFrame = pd.DataFrame(data, index=['C', 'H','A', 'D', 'E', 'J', 'G', 'I', 'B', 'F'], columns=['Day3', 'Day1', 'Day2', 'Day5', 'Day4'])
visitFrame

   Day3  Day1  Day2  Day5  Day4
C   265   125   996   527   320
H   369   123   156   985   733
A   496   925   881     8    73
D   256   490    40   502   420
E   371   528   356   239   395
J    54   344   363   122   574
G   545   200   868   974   689
I   691    54    77   453    13
B   755   409   382   653   860
F   342   798   670    89   652

## Ordering
As you might have noticed that the order of the row indices and columns are a bit mixed up. You are expected to order both in an ascending order.

#### TASK 2 [+2]. 
Sort the dataframe based on row index.

In [ ]:
visitFrame = visitFrame.sort_index()
visitFrame

   Day3  Day1  Day2  Day5  Day4
A   496   925   881     8    73
B   755   409   382   653   860
C   265   125   996   527   320
D   256   490    40   502   420
E   371   528   356   239   395
F   342   798   670    89   652
G   545   200   868   974   689
H   369   123   156   985   733
I   691    54    77   453    13
J    54   344   363   122   574

#### TASK 3 [+2]
Sort the dataframe based on column index.

In [ ]:
visitFrame = visitFrame.sort_index(axis=1)
visitFrame

   Day1  Day2  Day3  Day4  Day5
A   925   881   496    73     8
B   409   382   755   860   653
C   125   996   265   320   527
D   490    40   256   420   502
E   528   356   371   395   239
F   798   670   342   652    89
G   200   868   545   689   974
H   123   156   369   733   985
I    54    77   691    13   453
J   344   363    54   574   122

## Slicing
In the following four tasks, you need to apply the required slicing/indexing on the dataset.

#### TASK 4 [+3]. 

Select first 5 student records for the first 3 days using **`loc`**.

In [ ]:
#Use loc for the selection
visitFrame.loc[:'E', : 'Day3']

   Day1  Day2  Day3
A   925   881   496
B   409   382   755
C   125   996   265
D   490    40   256
E   528   356   371

#### TASK 5 [+3]. 

Select the last 2 student records for the last 2 days using **`iloc`**

In [ ]:
#Use iloc for the selection
visitFrame.iloc[:2, 3:]

   Day4  Day5
A    73     8
B   860   653

#### TASK 5 [+4]. 

Select the Day 1 and Day 4 data for Student A and D. You can use either `iloc` or `loc`.

In [ ]:
visitFrame.loc[['A', 'D'], ['Day1', 'Day4']]

   Day1  Day4
A   925    73
D   490   420

## Boolean Selection

For the tasks in this section you MUST use boolean arrays.

#### TASK 6 [+5]. 
Filter the dataframe to include only the students who have more than 400 visits on Day 1.

In [ ]:
visitFrame[visitFrame['Day1'] > 400]

   Day1  Day2  Day3  Day4  Day5
A   925   881   496    73     8
B   409   382   755   860   653
D   490    40   256   420   502
E   528   356   371   395   239
F   798   670   342   652    89

#### TASK 6 [+7]. 
Filter the dataframe to include only the students who have more visits on the first day than the last day.

In [ ]:
visitFrame[visitFrame['Day5'] < visitFrame['Day1']]

   Day1  Day2  Day3  Day4  Day5
A   925   881   496    73     8
E   528   356   371   395   239
F   798   670   342   652    89
J   344   363    54   574   122

#### TASK 7 [+12]. 
Filter the dataframe to include students who have less than 100 visits on any day.

[HINT: You can achieve this by creating a boolean data frame and then by using `sum` and `loc` functions.]

You should not use anything beyond what is covered in the lecture notes.

In [ ]:
visitFrame.loc[(visitFrame < 100).sum(axis=1) > 0]

   Day1  Day2  Day3  Day4  Day5
A   925   881   496    73     8
D   490    40   256   420   502
F   798   670   342   652    89
I    54    77   691    13   453
J   344   363    54   574   122

#### TASK 8 [+16]. 
Compute the overall average considering the whole data (the result should be `444.2`). 

Then, filter the data to keep only the students who have visits more than the overall average for 3 days or more.

In [ ]:
np.average(visitFrame)

444.2

In [ ]:
visitFrame[(visitFrame > np.average(visitFrame)).sum(axis=1) > 2]

   Day1  Day2  Day3  Day4  Day5
A   925   881   496    73     8
B   409   382   755   860   653
F   798   670   342   652    89
G   200   868   545   689   974

## Calculating Basic Stats

#### TASK 9 [+5]. 
Compute the average per student across all days. Here you must use the *`mean`* function. Be careful with the axis value.

In [ ]:
visitFrame.mean(axis=1)

A    476.6
B    611.8
C    446.6
D    341.6
E    377.8
F    510.2
G    655.2
H    473.2
I    257.6
J    291.4
dtype: float64

#### TASK 10 [+12]. 
Return the name of the student (which is a letter) who have the lowest average page views. 

[HINT: You can use mean to compute the averages and order the result in descending order. Then, you can read the first index value.]

DO NOT use any numpy functions for this task.

In [ ]:
visitFrame.mean(axis=1).sort_values(ascending=False).index[0]

'G'

#### TASK 11 [+10]. 
Find the number of days student A visited more pages than student D.

In [ ]:
(visitFrame.loc['A'] > visitFrame.loc['D']).sum()

3

#### TASK 12 [+15]. 

Return the list of students whose total visits until the 4th day (that is 1st, 2nd and 3rd days) is less than their visits on the 4th day.

You **must** use numpy's `cumsum` function in this task.

In [ ]:
cumSum = np.cumsum(visitFrame, axis=1)
cumSum

   Day1  Day2  Day3  Day4  Day5
A   925  1806  2302  2375  2383
B   409   791  1546  2406  3059
C   125  1121  1386  1706  2233
D   490   530   786  1206  1708
E   528   884  1255  1650  1889
F   798  1468  1810  2462  2551
G   200  1068  1613  2302  3276
H   123   279   648  1381  2366
I    54   131   822   835  1288
J   344   707   761  1335  1457

In [ ]:
cumSum[cumSum['Day3'] < visitFrame['Day4']].index

Index(['H'], dtype='object')