In [ ]:
import numpy as np

## Generating Dataset 

Our dataset will be page view dataset where column represents the days (DAY 1 to DAY 5), and the row represents the students who visits the pages. (Students array will be added later.)

#### TASK 1 [+4]. 
Generate a random array with values ranging between 0-1000. The array should have 10 rows and 5 columns. 

**Use the seed of 5** so that it will always generate the same set of random numbers.

In [ ]:
np.random.seed(5)
pageVisits = np.random.randint(1000, size=(10,5))
pageVisits

array([[867, 206, 701, 998, 118],
       [400,  73,   8, 740, 743],
       [958, 411, 624, 670, 720],
       [519, 204, 911, 113, 437],
       [999,  80,  27,  44, 205],
       [715,  65, 431, 542, 980],
       [ 86, 637, 146, 254, 377],
       [649, 362,  41, 446, 897],
       [210, 103, 144, 974,   5],
       [826, 768, 976, 900, 110]])

## Slicing
In the following four task, you will apply slicing/indexing on the dataset.

#### TASK 2 [+4]. 

Select first 5 rows:

In [ ]:
pageVisits[:5]

array([[867, 206, 701, 998, 118],
       [400,  73,   8, 740, 743],
       [958, 411, 624, 670, 720],
       [519, 204, 911, 113, 437],
       [999,  80,  27,  44, 205]])

#### TASK 3 [+4]. 

Select last 2 columns:

In [ ]:
pageVisits[:, 3:]

array([[998, 118],
       [740, 743],
       [670, 720],
       [113, 437],
       [ 44, 205],
       [542, 980],
       [254, 377],
       [446, 897],
       [974,   5],
       [900, 110]])

#### TASK 4 [+4]. 

Select the 3rd and 4th row, and 2nd and 3rd columns:

In [ ]:
pageVisits[3:5, 1:3]

array([[204, 911],
       [ 80,  27]])

## Boolean Indexing

Assume that the rows in pageViews array correspond to specific students given in the following array:

In [ ]:
students = np.array(['A', 'B','C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])
students

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='<U1')

#### TASK 5 [+6]. 
Find the visits of students D and H:

In [ ]:
pageVisits[((students=='D') | (students=='H'))]

array([[519, 204, 911, 113, 437],
       [649, 362,  41, 446, 897]])

#### TASK 6 [+8]. 
Find the visits of students B and F during the first three days:

In [ ]:
pageVisits[((students=='B') | (students=='F')), :3]

array([[400,  73,   8],
       [715,  65, 431]])

#### TASK 7 [+10]. 
Find all students' visits except student C and H:

In [ ]:
exceptC = pageVisits[~((students == 'C') | (students == 'H'))]
exceptC

array([[867, 206, 701, 998, 118],
       [400,  73,   8, 740, 743],
       [519, 204, 911, 113, 437],
       [999,  80,  27,  44, 205],
       [715,  65, 431, 542, 980],
       [ 86, 637, 146, 254, 377],
       [210, 103, 144, 974,   5],
       [826, 768, 976, 900, 110]])

## Calculating Basic Stats

#### TASK 8 [+5]. 
Compute the daily average across all students. Here you can use **[np.average](https://numpy.org/doc/stable/reference/generated/numpy.average.html)** . Be careful with the axis value.

In [ ]:
np.average(pageVisits, axis=0)

array([622.9, 290.9, 400.9, 568.1, 459.2])

#### TASK 9 [+5]. 
Compute the average per student across all days. Here you can use **[np.average](https://numpy.org/doc/stable/reference/generated/numpy.average.html)** . Be careful with the axis value.

In [ ]:
np.average(pageVisits, axis=1)

array([578. , 392.8, 676.6, 436.8, 271. , 546.6, 300. , 479. , 287.2,
       716. ])

#### TASK 10 [+15]. 
Return the name of the student (which is a letter) who have the lowest average page views. Here you should use [argmin](https://numpy.org/doc/stable/reference/generated/numpy.argmin.html) function.

In [ ]:
students[np.argmin(np.average(pageVisits, axis=1))]

'E'

#### TASK 11 [+15]. 
Find the number of days student A visited more pages than student D.

In [ ]:
pvA = pageVisits[students == 'A']
pvD = pageVisits[students == 'D']
diffAD = pvA > pvD
diffAD.sum()

3

#### TASK 12 [+20]. 

Return the list of students whose total visits until the 4th day (that is 1st, 2nd and 3rd days) is less than their visits on the 4th day.

In [ ]:
cumSum = np.cumsum(pageVisits, axis=1)
cumSum

array([[ 867, 1073, 1774, 2772, 2890],
       [ 400,  473,  481, 1221, 1964],
       [ 958, 1369, 1993, 2663, 3383],
       [ 519,  723, 1634, 1747, 2184],
       [ 999, 1079, 1106, 1150, 1355],
       [ 715,  780, 1211, 1753, 2733],
       [  86,  723,  869, 1123, 1500],
       [ 649, 1011, 1052, 1498, 2395],
       [ 210,  313,  457, 1431, 1436],
       [ 826, 1594, 2570, 3470, 3580]])

In [ ]:
 pageVisits[:, 3]

array([998, 740, 670, 113,  44, 542, 254, 446, 974, 900])

In [ ]:
cumSum[:, 2]

array([1774,  481, 1993, 1634, 1106, 1211,  869, 1052,  457, 2570])

In [ ]:
students[cumSum[:, 2] < pageVisits[:, 3]]

array(['B', 'I'], dtype='<U1')